<a href="https://colab.research.google.com/github/camilla-scandola/project-shark-attack/blob/main/quest_sharkatack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\tozes\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\tozes\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tozes\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tozes\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tozes\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\tozes\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\tozes\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\tozes\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\tozes\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pycountry

Requirement already satisfied: pycountry in c:\users\tozes\anaconda3\lib\site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import re

In [6]:
df = pd.read_excel('GSAF5.xls')

In [7]:
pd.set_option('display.max_columns', None)
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,16th August 2025,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,Fishing,Shawn Meuse,M,?,Laceration to right leg below the knee,N,1055 hrs,Lemon shark 1.8 m (6ft),Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,Surfing,Bowie Daley,M,9,None sustained board severely damaged,N,1630hrs,Suspected Great White,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,Wading,Eleonora Boi,F,39,Bite to thigh area,N,Not stated,Undetermined,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#overview of the dataset

missing_country = int(df['Country'].isna().sum())
print(missing_country)

missing_state = int(df['State'].isna().sum())
print(missing_state)

missing_location = int(df['Location'].isna().sum())
print(missing_location)

print(df['Country'].tail())

#suggestion: drop all the null values under country (because they won't make a big difference in the analysis, being 50 out of 7041)
#df['Country'].dropna()

50
485
567
7037             AUSTRALIA
7038             AUSTRALIA
7039                   USA
7040                PANAMA
7041    CEYLON (SRI LANKA)
Name: Country, dtype: object

In [9]:
#suggestion: the number of missing values in states and locations is a lot more significant, so I'd replace them with undefined for the time being
df['State'].fillna('undefined')
df['Location'].fillna('undefined')

0                    Cayo Costa Boca Grande
1                            Cabarita Beach
2       North of Grand Bahama near Freeport
3                             Tathra Beach
4                            Carolina Beach
                       ...
7037                            Roebuck Bay
7038                              undefined
7039                         Ocracoke Inlet
7040                   Panama Bay 8ºN, 79ºW
7041    Below the English fort, Trincomalee
Name: Location, Length: 7042, dtype: object

In [10]:
#if needed, imported pycountry to check all standard country names + 

import pycountry

df['Country_cleaned'] = df['Country'].astype(str).str.strip().str.lower().str.title()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    
    print(df['Country_cleaned'].value_counts())

Country_cleaned
Usa                                      2570
Australia                                1507
South Africa                              599
New Zealand                               146
Bahamas                                   141
Papua New Guinea                          136
Brazil                                    122
Mexico                                    107
Italy                                      72
Fiji                                       70
New Caledonia                              66
Philippines                                65
Reunion                                    60
Egypt                                      53
Mozambique                                 50
Nan                                        50
Cuba                                       49
Spain                                      47
India                                      41
French Polynesia                           39
Japan                                      36
Croatia                                    35
Jamaica                                    32
Panama                                     32
Solomon Islands                            30
Iran                                       29
Indonesia                                  25
England                                    25
Greece                                     24
Hong Kong                                  24
Pacific Ocean                              19
Tonga                                      18
Costa Rica                                 18
Atlantic Ocean                             17
Bermuda                                    16
Vietnam                                    15
Vanuatu                                    15
Canada                                     14
Sri Lanka                                  14
Marshall Islands                           13
France                                     13
Thailand                                   13
South Atlantic Ocean                       12
Iraq                                       12
Turkey                                     12
Venezuela                                  11
Ecuador                                    11
United Kingdom                             11
Senegal                                    11
Seychelles                                 10
Samoa                                      10
Kenya                                      10
Columbia                                   10
New Guinea                                 10
Mauritius                                  10
Yemen                                       9
Sierra Leone                                9
Taiwan                                      9
Israel                                      9
China                                       9
Belize                                      8
Chile                                       8
Scotland                                    8
Madagascar                                  8
South Korea                                 8
Caribbean Sea                               8
Tanzania                                    8
Nicaragua                                   7
North Pacific Ocean                         7
Dominican Republic                          7
Indian Ocean                                7
Okinawa                                     6
Kiribati                                    6
Singapore                                   6
New Britain                                 6
Barbados                                    6
Somalia                                     6
Maldives                                    6
Libya                                       6
Honduras                                    6
Palau                                       5
Malaysia                                    5
Reunion Island                              5
Malta                                       5
Saudi Arabia                                5
Turks & Caicos                              5
Mid Atlantic Ocean                          5
Azores                                      5
North Atlantic Ocean                        5
Grenada                                     4
Sudan                                       4
El Salvador                                 4
Russia                                      4
Burma                                       4
Nigeria                                     4
Persian Gulf                                4
Portugal                                    4
Guam                                        4
Uruguay                                     4
Haiti                                       3
American Samoa                              3
Martinique                                  3
Lebanon                                     3
Ceylon                                      3
Guinea                                      3
Liberia                                     3
Tunisia                                     3
Tobago                                      3
Trinidad & Tobago                           3
Turks And Caicos                            3
Maldive Islands                             3
Cape Verde                                  3
Guyana                                      3
Micronesia                                  3
Montenegro                                  3
Cayman Islands                              2
Puerto Rico                                 2
Peru                                        2
Colombia                                    2
Ireland                                     2
Antigua                                     2
Iceland                                     2
Crete                                       2
Central Pacific                             2
Southwest Pacific Ocean                     2
Java                                        2
United Arab Emirates (Uae)                  2
Johnston Island                             2
South Pacific Ocean                         2
Namibia                                     2
Norway                                      2
St Helena, British Overseas Territory       2
United Arab Emirates                        2
Argentina                                   2
West Indies                                 2
Mediterranean Sea                           2
St. Martin                                  1
Comoros                                     1
St Martin                                   1
Palestinian Territories                     1
Aruba                                       1
British Overseas Territory                  1
Coral Sea                                   1
Morocco                                     1
Trinidad                                    1
Canary Islands                              1
Hawaii                                      1
Jordan                                      1
St Kitts / Nevis                            1
Diego Garcia                                1
Red Sea / Indian Ocean                      1
North Sea                                   1
British West Indies                         1
Federated States Of Micronesia              1
Red Sea                                     1
Western Samoa                               1
British Isles                               1
South China Sea                             1
Bangladesh                                  1
Angola                                      1
British Virgin Islands                      1
St. Maartin                                 1
Grand Cayman                                1
Northern Arabian Sea                        1
Egypt / Israel                              1
Nevis                                       1
Gulf Of Aden                                1
Admiralty Islands                           1
Solomon Islands / Vanuatu                   1
Guatemala                                   1
Mayotte                                     1
Slovenia                                    1
Bay Of Bengal                               1
Italy / Croatia                             1
Iran / Iraq                                 1
Netherlands Antilles                        1
Northern Mariana Islands                    1
Sudan?                                      1
The Balkans                                 1
Gabon                                       1
Andaman / Nicobar Islandas                  1
Cyprus                                      1
Falkland Islands                            1
Kuwait                                      1
San Domingo                                 1
Monaco                                      1
Mid-Pacifc Ocean                            1
Curacao                                     1
Paraguay                                    1
Georgia                                     1
Ocean                                       1
Tuvalu                                      1
Syria                                       1
Indian Ocean?                               1
Andaman Islands                             1
Equatorial Guinea / Cameroon                1
British New Guinea                          1
Cook Islands                                1
Africa                                      1
Coast Of Africa                             1
Algeria                                     1
Tasman Sea                                  1
Ghana                                       1
Greenland                                   1
Sweden                                      1
Roatan                                      1
Between Portugal & India                    1
Djibouti                                    1
Bahrein                                     1
Korea                                       1
Red Sea?                                    1
Asia?                                       1
Ceylon (Sri Lanka)                          1
Name: count, dtype: int64

In [11]:
# Mapping of common mismatches to ISO pycountry names
replacements = {
    # Abbreviations & Short forms
    "Usa": "United States",
    "UK": "United Kingdom",
    "UAE": "United Arab Emirates",

    # Alternative spellings
    "South Korea": "Korea, Republic of",
    "North Korea": "Korea, Democratic People's Republic of",
    "Russia": "Russian Federation",
    "Iran": "Iran, Islamic Republic of",
    "Syria": "Syrian Arab Republic",
    "Tanzania": "Tanzania, United Republic of",
    "Vietnam": "Viet Nam",
    "Turkey": "Türkiye",
    "Bolivia": "Bolivia, Plurinational State of",
    "Venezuela": "Venezuela, Bolivarian Republic of",
    "Moldova": "Moldova, Republic of",
    "Laos": "Lao People's Democratic Republic",
    "Palestinian Territories": "Palestine, State of",
    "Micronesia": "Micronesia, Federated States of",
    "Macedonia": "North Macedonia",

    # Historical names
    "Burma": "Myanmar",
    "Ceylon": "Sri Lanka",
    "Ceylon (Sri Lanka)": "Sri Lanka",
    "Western Samoa": "Samoa",
    "Zaire": "Congo, The Democratic Republic of the",

    # Variations / territories that map to countries
    "Curacao": "Curaçao",
    "St. Martin": "Saint Martin (French part)",
    "St Martin": "Saint Martin (French part)",
    "St. Maartin": "Sint Maarten (Dutch part)",
    "Reunion": "Réunion",
    "Reunion Island": "Réunion",
    "Bahrein": "Bahrain",
    "Cape Verde": "Cabo Verde",
    "Taiwan": "Taiwan, Province of China",
    "Maldive Islands": "Maldives",
}

df["Country_cleaned"] = df["Country_cleaned"].replace(replacements)

df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Country_cleaned
0,16th August 2025,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,Fishing,Shawn Meuse,M,?,Laceration to right leg below the knee,N,1055 hrs,Lemon shark 1.8 m (6ft),Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States
1,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia
2,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahamas
3,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,Surfing,Bowie Daley,M,9,None sustained board severely damaged,N,1630hrs,Suspected Great White,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia
4,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,Wading,Eleonora Boi,F,39,Bite to thigh area,N,Not stated,Undetermined,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico

In [12]:
pycountry_names = {c.name for c in pycountry.countries}
df = df[df['Country_cleaned'].isin(pycountry_names)]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country_cleaned'].value_counts())

Country_cleaned
United States                        2570
Australia                            1507
South Africa                          599
New Zealand                           146
Bahamas                               141
Papua New Guinea                      136
Brazil                                122
Mexico                                107
Italy                                  72
Fiji                                   70
New Caledonia                          66
Réunion                                65
Philippines                            65
Egypt                                  53
Mozambique                             50
Cuba                                   49
Spain                                  47
India                                  41
French Polynesia                       39
Japan                                  36
Croatia                                35
Jamaica                                32
Panama                                 32
Solomon Islands                        30
Iran, Islamic Republic of              29
Indonesia                              25
Greece                                 24
Hong Kong                              24
Tonga                                  18
Costa Rica                             18
Sri Lanka                              18
Bermuda                                16
Viet Nam                               15
Vanuatu                                15
Canada                                 14
Marshall Islands                       13
France                                 13
Thailand                               13
Iraq                                   12
Türkiye                                12
Senegal                                11
Venezuela, Bolivarian Republic of      11
United Kingdom                         11
Ecuador                                11
Samoa                                  11
Mauritius                              10
Kenya                                  10
Seychelles                             10
Taiwan, Province of China               9
Israel                                  9
Yemen                                   9
China                                   9
Maldives                                9
Sierra Leone                            9
Korea, Republic of                      8
Madagascar                              8
Tanzania, United Republic of            8
Belize                                  8
Chile                                   8
Dominican Republic                      7
Nicaragua                               7
Kiribati                                6
Honduras                                6
Barbados                                6
Somalia                                 6
Libya                                   6
Singapore                               6
Palau                                   5
Malaysia                                5
Saudi Arabia                            5
Malta                                   5
Portugal                                4
Uruguay                                 4
Grenada                                 4
Myanmar                                 4
Sudan                                   4
El Salvador                             4
Russian Federation                      4
Nigeria                                 4
Guam                                    4
Cabo Verde                              3
Guyana                                  3
Lebanon                                 3
Guinea                                  3
Martinique                              3
American Samoa                          3
Haiti                                   3
Montenegro                              3
Liberia                                 3
Micronesia, Federated States of         3
Tunisia                                 3
Colombia                                2
Argentina                               2
Saint Martin (French part)              2
Puerto Rico                             2
United Arab Emirates                    2
Cayman Islands                          2
Ireland                                 2
Iceland                                 2
Norway                                  2
Peru                                    2
Namibia                                 2
Morocco                                 1
Palestine, State of                     1
Jordan                                  1
Comoros                                 1
Aruba                                   1
Bangladesh                              1
Sint Maarten (Dutch part)               1
Angola                                  1
Northern Mariana Islands                1
Guatemala                               1
Mayotte                                 1
Gabon                                   1
Kuwait                                  1
Monaco                                  1
Curaçao                                 1
Slovenia                                1
Paraguay                                1
Georgia                                 1
Syrian Arab Republic                    1
Cyprus                                  1
Tuvalu                                  1
Cook Islands                            1
Algeria                                 1
Ghana                                   1
Greenland                               1
Sweden                                  1
Djibouti                                1
Bahrain                                 1
Name: count, dtype: int64

In [13]:
#Columns Fatal + Deaths
#checking all unique values in Fatal, to understand how I can better clean it
print(df['Fatal Y/N'].unique())

['N' 'Y' 'F' 'M' nan 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'N ']

In [14]:
#cleaning Fatal and printing unique values
df['Fatal Y/N cleaned'] = df['Fatal Y/N'].astype(str).str.strip().str.upper().apply(lambda x: re.sub(r'[^A-Z]', '', x))
print(df['Fatal Y/N cleaned'].unique())

#add column "Death" and assign a numeric value to Fatal, yes or no
deaths_count = {'N': 0, 'Y': 1}
df['Death'] = df['Fatal Y/N cleaned'].map(deaths_count)
deaths_count = int(df['Death'].sum())
print(deaths_count)

['N' 'Y' 'F' 'M' 'NAN' 'NQ' 'UNKNOWN' '' 'YX']
1376

In [15]:
#checking all unique values in Fatal after clean-up
counts = df['Fatal Y/N cleaned'].value_counts(dropna=False)
print(counts)

#all data that is neither Y nor N, is replaced with NaN in the transition from numeric values
counts = df['Death'].value_counts(dropna=False)
print(counts)

Fatal Y/N cleaned
N          4766
Y          1376
NAN         535
UNKNOWN      69
F             5
M             3
NQ            1
              1
YX            1
Name: count, dtype: int64
Death
0.0    4766
1.0    1376
NaN     615
Name: count, dtype: int64

In [16]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Country_cleaned,Fatal Y/N cleaned,Death
0,16th August 2025,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,Fishing,Shawn Meuse,M,?,Laceration to right leg below the knee,N,1055 hrs,Lemon shark 1.8 m (6ft),Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,N,0.0
1,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia,N,0.0
2,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahamas,N,0.0
3,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,Surfing,Bowie Daley,M,9,None sustained board severely damaged,N,1630hrs,Suspected Great White,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia,N,0.0
4,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,Wading,Eleonora Boi,F,39,Bite to thigh area,N,Not stated,Undetermined,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico,N,0.0

# Create a new boolean column called ‘Surfing’ 

In this column only surfing-related activities are represented.

In [17]:
# Define search terms related to water sports activities
search_terms = ['surf', 'surfing', 'bodyboard', 'bodyboarding', 'longboard', 'Longboarding', 'windsurf', 'windsurfing', 'kite', 'paddle']

# Create a new boolean column 'Surfing' in the dataframe
# This column will be True if any of the search terms are found in the 'Activity' column
# The '|'.join() creates a regex pattern that matches any of the search terms
# case=False makes the search case-insensitive
# na=False treats NaN values as empty strings instead of raising an error
df['Surfing'] = df['Activity'].str.contains('|'.join(search_terms), case=False, na=False)

# Relocate 'Surfing' column at the fourth position (index 7) 
cols = list(df.columns)
cols.remove('Surfing')
cols.insert(7, 'Surfing')
df = df[cols]

# Cleaning the 'Year' Column

In this section, we'll handle the missing and inconsistent values in the 'Year' column to ensure the data is in the correct format for analysis.

In [18]:
# Display information about the 'Year' column in the dataframe
df['Year'].info()

<class 'pandas.core.series.Series'>
Index: 6757 entries, 0 to 7041
Series name: Year
Non-Null Count  Dtype
--------------  -----
6756 non-null   float64
dtypes: float64(1)
memory usage: 105.6 KB

In [19]:
# Inspect the null values in the Year column
df[df['Year'].isnull()]

,Date,Year,Type,Country,State,Location,Activity,Surfing,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Country_cleaned,Fatal Y/N cleaned,Death
896,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,False,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6142.0,NaN,NaN,Australia,NAN,NaN

In [20]:
# Fill the two null entries in the 'Year' column by importing the year from the 'Date' column

import re

# Extract the year (4 digits) from the 'Date' column for row 896
year_896 = re.search(r'\d{4}', df.loc[896, 'Date']).group()

# Update the 'Year' column with the extracted year for row 896
df.loc[896, 'Year'] = float(year_896)

df.loc[[896]]

,Date,Year,Type,Country,State,Location,Activity,Surfing,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Country_cleaned,Fatal Y/N cleaned,Death
896,Reported 08-Jan-2017,2017.0,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,False,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6142.0,NaN,NaN,Australia,NAN,NaN

In [21]:
# Convert the 'Year' column to integer data type for numerical operations
df['Year'] = df['Year'].astype(int)

# Print the data type to verify the conversion was successful
print(df['Year'].dtype)

int64

In [22]:
# Get all unique values from the 'Year' column in the dataframe
# Quick overview to check if there is any recent missing year
df['Year'].unique()

array([2025, 2024, 2026, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016,
       2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1984,
       1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986, 1985,
       1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973,
       1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961,
       1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950,
       1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941, 1940,
       1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930, 1929,
       1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919, 1918,
       1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908, 1907,
       1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897, 1896,
       1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886, 1885,
       1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875, 1874,
       1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864, 1863,
       1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855, 1853, 1852, 1851,
       1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839, 1837,
       1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826, 1825,
       1823, 1822, 1819, 1818, 1817, 1816, 1810, 1808, 1807, 1805, 1804,
       1803, 1802, 1800, 1791, 1788, 1786, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1753, 1751, 1749, 1755, 1748, 1738, 1733, 1721,
       1703, 1700, 1642, 1691, 1640, 1637, 1617, 1595, 1554, 1543, 1518,
       1500, 1000,    5,    0])

# Cleaning the 'Date' Column

In this section, we'll handle the missing and inconsistent values in the 'Date' column to ensure the data is in the correct format for analysis.

In [23]:
# Identify and show the top 50 most common dates in the 'Date' column
# For quick overview of inconsistent formatting 
df['Date'].value_counts().head(50)

Date
1957                    9
1958                    7
1956                    6
1941                    6
No date                 6
28-Jul-1995             5
12-Apr-2001             5
2024-07-04 00:00:00     5
05-Oct-2003             5
1970s                   5
Aug-1956                5
1955                    5
1954                    5
1942                    5
No date, Before 1963    5
15-Apr-2018             4
1960                    4
1960s                   4
1959                    4
Before 1906             4
27-Dec-2008             4
29-Apr-2017             4
09-Jan-2010             4
14-Jun-2012             4
23-Jan-1970             4
27-Jul-1952             4
1952                    4
1950                    4
1949                    4
1945                    4
28-Dec-2014             4
04 Jul-2023             4
Reported 10-Oct-1906    4
09-Jul-1994             4
20-Sep-2015             4
Before 1958             4
02-Sep-2012             3
30-Sep-2007             3
11-Aug-1997             3
2025-02-22 00:00:00     3
16-May-1998             3
27-Jul-2021             3
27-Sep-2002             3
09-Dec-1994             3
23-Oct-2017             3
27-Aug-2014             3
14-Sep-2003             3
01-Jun-2014             3
23-Oct-2018             3
31-Oct-2003             3
Name: count, dtype: int64

In [24]:
# Extract date patterns from the 'Date' column using regex
# The regex pattern looks for:
# - 4-digit years (e.g., 2023)
# - Numbers with ordinal suffixes (e.g., 1st, 2nd, 3rd, 4th)
# - Date ranges with hyphens (e.g., 1-2, 10-15)
# - Year ranges (e.g., 2020-2022)
# - Month names or other text (e.g., January, Feb)
date_patterns = df['Date'].astype(str).str.extract(r'(\d{4}|\d{1,2}(?:st|nd|rd|th)|\d{1,2}-\d{1,2}|\d{4}-\d{4}|[A-Za-z]+)')

# Display the 13 most common date patterns found in the dataset
print(f"\n THE MOST COMMON TEXT PATTERNS OF 'DATE' COLUMN ARE:\n", date_patterns[0].value_counts().head(13))

 THE MOST COMMON TEXT PATTERNS OF 'DATE' COLUMN ARE:
 0
Jul         657
Aug         591
Sep         514
Reported    512
Jan         494
Jun         471
Oct         438
Apr         435
Dec         430
Mar         415
May         400
Nov         396
Feb         378
Name: count, dtype: int64

In [25]:
# Inspect entries containing the word 'Reported'
# Filter the dataframe to only include rows where the 'Date' column contains the word "Reported" 
df_reported = df[df['Date'].astype(str).str.contains("Reported", case=False)]
print(df_reported['Date'].head(20))

118     Reported 02 Nov-2023
154     Reported 14 Jul-2023
163    Reported 14-June 2023
277     Reported 27-Apr-2022
298     Reported 10-Feb-2022
312     Reported 06-Dec-2021
351     Reported 11-Jul-2021
505     Reported 14-Mar-2020
510     Reported 30-Jan-2020
549     Reported 04-Oct-2019
577     Reported 17-Jul-2019
591     Reported 06-Jun-2019
606     Reported 27-Apr-2019
656     Reported 16-Oct-2018
674     Reported 28-Aug-2018
690     Reported 16-Jul-2018
697    Reported 09-Jul-2018.
719     Reported 30-Apr-2018
734     Reported 10-Apr-2018
764     Reported 25-Nov-2017
Name: Date, dtype: object

In [26]:
# Dictionary mapping various month name formats (including abbreviations and different languages) to standardized 3-letter format
month_mapping = {
    'jan': 'Jan', 'january': 'Jan',
    'feb': 'Feb', 'february': 'Feb', 'fev': 'Feb',
    'mar': 'Mar', 'march': 'Mar',
    'apr': 'Apr', 'april': 'Apr', 'abr': 'Apr',
    'may': 'May',
    'jun': 'Jun', 'june': 'Jun',
    'jul': 'Jul', 'july': 'Jul',
    'aug': 'Aug', 'august': 'Aug', 'ago': 'Aug',
    'sep': 'Sep', 'september': 'Sep', 'set': 'Sep',
    'oct': 'Oct', 'october': 'Oct', 'out': 'Oct',
    'nov': 'Nov', 'november': 'Nov',
    'dec': 'Dec', 'december': 'Dec', 'dez': 'Dec'
}

## Create a regex pattern by joining all month keys with '|' (OR operator)
all_month_patterns = '|'.join(month_mapping.keys())

# Extract month from 'Date' column using regex pattern:
# 1. Convert Date column to string
# 2. Extract month name using case-insensitive regex (?i)
# 3. Convert extracted month to lowercase
# 4. Map to standardized format using the month_mapping dictionary
df['Month'] = df['Date'].astype(str).str.extract(f'(?i)({all_month_patterns})', expand=False).str.lower().map(month_mapping)

In [27]:
# Analyse the new column 'Month' to understand if the value counts coincide with the date-paterns
df['Month'].value_counts()

Month
Jul    753
Aug    652
Sep    569
Jan    546
Jun    527
Oct    481
Apr    477
Dec    475
Mar    446
May    434
Nov    430
Feb    411
Name: count, dtype: int64

In [28]:
# Inspect the newly created 'Month' column
df.Month.info()

<class 'pandas.core.series.Series'>
Index: 6757 entries, 0 to 7041
Series name: Month
Non-Null Count  Dtype
--------------  -----
6201 non-null   object
dtypes: object(1)
memory usage: 363.6+ KB

In [29]:
# Inspect all null entries in the 'Month' column 
# df[df['Month'].isna()] 

#Inspect null values in the 'Month' column compared to the values in 'Date' column
# print(df[df['Month'].isnull()][['Date', 'Month']].head(20))
# print(df[df['Month'].isnull()][['Date', 'Month']].tail(20))
df[df['Month'].isnull()][['Date', 'Month']].sample(30)

                       Date Month
5149                   1952   NaN
6909      Ca 1200-1500 A.D.   NaN
6759                   1850   NaN
6914          Ca. 336.B.C..   NaN
6966  No date, Before  1975   NaN
32      2025-02-27 00:00:00   NaN
5413                   1943   NaN
6927            Before 1934   NaN
5081                   1954   NaN
6954                  1950s   NaN
3583                   1985   NaN
7006            1940 - 1950   NaN
3623                   1984   NaN
5886                   1926   NaN
5416                   1943   NaN
5118                   1953   NaN
6935            Before 1900   NaN
3765         Summer of 1981   NaN
72      2024-07-04 00:00:00   NaN
5223               Ca. 1950   NaN
4899                   1958   NaN
7022             1920 -1923   NaN
6902                   1642   NaN
5481                   1941   NaN
49      2024-12-29 00:00:00   NaN
6704             Circa 1862   NaN
6192                   1907   NaN
6916           Ca. 725 B.C.   NaN
4663                   1961   NaN
4097                   1971   NaN

In [30]:
# Create a boolean mask to filter rows where 'Date' column matches the format 'YYYY-MM-DD HH:MM:SS'
mask = df['Date'].astype(str).str.match(r'^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$')

# Filter the dataframe to keep only rows that match the date format pattern
# and select only the 'Date' and 'Month' columns
df_filtered = df.loc[mask, ['Date', 'Month']]

# Display the first 20 rows of the filtered dataframe
print(df_filtered.head(20)) 

# Print the total number of rows that match the date format pattern
print(f"Total found: {len(df_filtered)}")

                   Date Month
19  2025-06-11 00:00:00   NaN
21  2025-05-29 00:00:00   NaN
22  2025-05-26 00:00:00   NaN
23  2025-05-15 00:00:00   NaN
24  2025-05-08 00:00:00   NaN
25  2025-04-21 00:00:00   NaN
26  2025-04-20 00:00:00   NaN
27  2025-04-19 00:00:00   NaN
28  2025-04-12 00:00:00   NaN
29  2025-03-26 00:00:00   NaN
30  2025-03-10 00:00:00   NaN
31  2025-03-07 00:00:00   NaN
32  2025-02-27 00:00:00   NaN
34  2025-02-22 00:00:00   NaN
35  2025-02-22 00:00:00   NaN
36  2025-02-22 00:00:00   NaN
37  2025-02-10 00:00:00   NaN
38  2025-02-10 00:00:00   NaN
40  2025-02-03 00:00:00   NaN
41  2025-01-23 00:00:00   NaN
Total found: 67

In [31]:
# Dictionary mapping numeric month representations to abbreviated month names
numeric_month_mapping = {
    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May', '06': 'Jun',
    '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
}

# Create a boolean mask for rows where 'Month' column contains NaN values
nan_mask = df['Month'].isna()

# For rows with missing month values, extract the month part (MM) from the 'Date' column
# using regex pattern that matches YYYY-MM-DD format
extracted_numeric_months = df.loc[nan_mask, 'Date'].astype(str).str.extract(r'\d{4}-(\d{2})-\d{2}', expand=False)

# Replace NaN values in 'Month' column with the corresponding month abbreviations
df.loc[nan_mask, 'Month'] = extracted_numeric_months.map(numeric_month_mapping)

In [32]:
# Reinspect the 'Month' to confirm extraction of values formatted as 'YYYY-MM-DD HH:MM:SS' in the 'Date' column
print(df['Month'].value_counts(), '\n')
print(df['Month'].info(), '\n')
print(df['Month'].unique())

Month
Jul    763
Aug    654
Sep    572
Jan    552
Jun    534
Oct    485
Apr    485
Dec    481
Mar    449
May    442
Nov    433
Feb    418
Name: count, dtype: int64

<class 'pandas.core.series.Series'>
Index: 6757 entries, 0 to 7041
Series name: Month
Non-Null Count  Dtype
--------------  -----
6268 non-null   object
dtypes: object(1)
memory usage: 363.6+ KB
None

['Aug' 'Jul' 'Jun' 'May' 'Apr' 'Mar' 'Feb' 'Jan' 'Dec' 'Nov' 'Oct' 'Sep'
 nan]

In [33]:
# Relocate 'Month' column at the second position (index 1) 
cols = list(df.columns)
cols.remove('Month')
cols.insert(1, 'Month')
df = df[cols]