<a href="https://colab.research.google.com/github/camilla-scandola/project-shark-attack/blob/main/quest_sharkatack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.13/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.13/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pycountry

Requirement already satisfied: pycountry in /opt/anaconda3/lib/python3.13/site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import re

In [6]:
df = pd.read_excel('GSAF5.xls')

In [7]:
pd.set_option('display.max_columns', None)
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,16th August 2025,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,Fishing,Shawn Meuse,M,?,Laceration to right leg below the knee,N,1055 hrs,Lemon shark 1.8 m (6ft),Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,Surfing,Bowie Daley,M,9,None sustained board severely damaged,N,1630hrs,Suspected Great White,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,Wading,Eleonora Boi,F,39,Bite to thigh area,N,Not stated,Undetermined,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#overview of the dataset

missing_country = int(df['Country'].isna().sum())
print(missing_country)

missing_state = int(df['State'].isna().sum())
print(missing_state)

missing_location = int(df['Location'].isna().sum())
print(missing_location)

print(df['Country'].tail())

#suggestion: drop all the null values under country (because they won't make a big difference in the analysis, being 50 out of 7041)
#df['Country'].dropna()

50
485
567
7037             AUSTRALIA
7038             AUSTRALIA
7039                   USA
7040                PANAMA
7041    CEYLON (SRI LANKA)
Name: Country, dtype: object

In [9]:
#suggestion: the number of missing values in states and locations is a lot more significant, so I'd replace them with undefined for the time being
df['State'].fillna('undefined')
df['Location'].fillna('undefined')

0                    Cayo Costa Boca Grande
1                            Cabarita Beach
2       North of Grand Bahama near Freeport
3                             Tathra Beach
4                            Carolina Beach
                       ...
7037                            Roebuck Bay
7038                              undefined
7039                         Ocracoke Inlet
7040                   Panama Bay 8ºN, 79ºW
7041    Below the English fort, Trincomalee
Name: Location, Length: 7042, dtype: object

In [12]:
#if needed, imported pycountry to check all standard country names + 

import pycountry

df['Country_cleaned'] = df['Country'].astype(str).str.strip().str.lower().str.title()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    
    print(df['Country_cleaned'].value_counts())

Country_cleaned
Usa                                      2570
Australia                                1507
South Africa                              599
New Zealand                               146
Bahamas                                   141
Papua New Guinea                          136
Brazil                                    122
Mexico                                    107
Italy                                      72
Fiji                                       70
New Caledonia                              66
Philippines                                65
Reunion                                    60
Egypt                                      53
Mozambique                                 50
Nan                                        50
Cuba                                       49
Spain                                      47
India                                      41
French Polynesia                           39
Japan                                      36
Croatia                                    35
Panama                                     32
Jamaica                                    32
Solomon Islands                            30
Iran                                       29
Indonesia                                  25
England                                    25
Greece                                     24
Hong Kong                                  24
Pacific Ocean                              19
Tonga                                      18
Costa Rica                                 18
Atlantic Ocean                             17
Bermuda                                    16
Vietnam                                    15
Vanuatu                                    15
Canada                                     14
Sri Lanka                                  14
France                                     13
Thailand                                   13
Marshall Islands                           13
South Atlantic Ocean                       12
Iraq                                       12
Turkey                                     12
Venezuela                                  11
Ecuador                                    11
United Kingdom                             11
Senegal                                    11
Kenya                                      10
Samoa                                      10
Mauritius                                  10
Seychelles                                 10
Columbia                                   10
New Guinea                                 10
Sierra Leone                                9
Yemen                                       9
Taiwan                                      9
China                                       9
Israel                                      9
South Korea                                 8
Scotland                                    8
Belize                                      8
Madagascar                                  8
Chile                                       8
Tanzania                                    8
Caribbean Sea                               8
Dominican Republic                          7
Nicaragua                                   7
North Pacific Ocean                         7
Indian Ocean                                7
Somalia                                     6
Kiribati                                    6
Libya                                       6
Okinawa                                     6
New Britain                                 6
Maldives                                    6
Singapore                                   6
Honduras                                    6
Barbados                                    6
Turks & Caicos                              5
Malta                                       5
Azores                                      5
North Atlantic Ocean                        5
Mid Atlantic Ocean                          5
Palau                                       5
Saudi Arabia                                5
Malaysia                                    5
Reunion Island                              5
Russia                                      4
El Salvador                                 4
Portugal                                    4
Sudan                                       4
Burma                                       4
Uruguay                                     4
Guam                                        4
Persian Gulf                                4
Nigeria                                     4
Grenada                                     4
Montenegro                                  3
American Samoa                              3
Lebanon                                     3
Guinea                                      3
Tunisia                                     3
Micronesia                                  3
Ceylon                                      3
Turks And Caicos                            3
Haiti                                       3
Martinique                                  3
Guyana                                      3
Tobago                                      3
Cape Verde                                  3
Liberia                                     3
Trinidad & Tobago                           3
Maldive Islands                             3
Central Pacific                             2
Mediterranean Sea                           2
Peru                                        2
Java                                        2
Iceland                                     2
Southwest Pacific Ocean                     2
South Pacific Ocean                         2
Johnston Island                             2
West Indies                                 2
Crete                                       2
Puerto Rico                                 2
Argentina                                   2
Cayman Islands                              2
Norway                                      2
St Helena, British Overseas Territory       2
Ireland                                     2
Antigua                                     2
United Arab Emirates                        2
Colombia                                    2
United Arab Emirates (Uae)                  2
Namibia                                     2
Between Portugal & India                    1
Red Sea?                                    1
Georgia                                     1
Ocean                                       1
St Kitts / Nevis                            1
British New Guinea                          1
Paraguay                                    1
St Martin                                   1
Coral Sea                                   1
Tuvalu                                      1
Cyprus                                      1
Trinidad                                    1
Falkland Islands                            1
Kuwait                                      1
San Domingo                                 1
Asia?                                       1
Comoros                                     1
Syria                                       1
Indian Ocean?                               1
Roatan                                      1
Coast Of Africa                             1
Sweden                                      1
British Overseas Territory                  1
Greenland                                   1
Djibouti                                    1
Ghana                                       1
Tasman Sea                                  1
Algeria                                     1
Jordan                                      1
Africa                                      1
Bahrein                                     1
Cook Islands                                1
Equatorial Guinea / Cameroon                1
Korea                                       1
Andaman Islands                             1
Monaco                                      1
Western Samoa                               1
Italy / Croatia                             1
Bangladesh                                  1
Red Sea / Indian Ocean                      1
Hawaii                                      1
Nevis                                       1
British West Indies                         1
Admiralty Islands                           1
British Virgin Islands                      1
Federated States Of Micronesia              1
Red Sea                                     1
Gulf Of Aden                                1
St. Maartin                                 1
Grand Cayman                                1
Egypt / Israel                              1
Northern Arabian Sea                        1
Angola                                      1
Canary Islands                              1
South China Sea                             1
British Isles                               1
North Sea                                   1
Andaman / Nicobar Islandas                  1
Gabon                                       1
Diego Garcia                                1
Curacao                                     1
Slovenia                                    1
Mid-Pacifc Ocean                            1
Bay Of Bengal                               1
Aruba                                       1
Solomon Islands / Vanuatu                   1
St. Martin                                  1
Iran / Iraq                                 1
Mayotte                                     1
Northern Mariana Islands                    1
Netherlands Antilles                        1
Guatemala                                   1
Palestinian Territories                     1
Morocco                                     1
Sudan?                                      1
The Balkans                                 1
Ceylon (Sri Lanka)                          1
Name: count, dtype: int64

In [13]:
# Mapping of common mismatches to ISO pycountry names
replacements = {
    # Abbreviations & Short forms
    "Usa": "United States",
    "UK": "United Kingdom",
    "UAE": "United Arab Emirates",

    # Alternative spellings
    "South Korea": "Korea, Republic of",
    "North Korea": "Korea, Democratic People's Republic of",
    "Russia": "Russian Federation",
    "Iran": "Iran, Islamic Republic of",
    "Syria": "Syrian Arab Republic",
    "Tanzania": "Tanzania, United Republic of",
    "Vietnam": "Viet Nam",
    "Turkey": "Türkiye",
    "Bolivia": "Bolivia, Plurinational State of",
    "Venezuela": "Venezuela, Bolivarian Republic of",
    "Moldova": "Moldova, Republic of",
    "Laos": "Lao People's Democratic Republic",
    "Palestinian Territories": "Palestine, State of",
    "Micronesia": "Micronesia, Federated States of",
    "Macedonia": "North Macedonia",

    # Historical names
    "Burma": "Myanmar",
    "Ceylon": "Sri Lanka",
    "Ceylon (Sri Lanka)": "Sri Lanka",
    "Western Samoa": "Samoa",
    "Zaire": "Congo, The Democratic Republic of the",

    # Variations / territories that map to countries
    "Curacao": "Curaçao",
    "St. Martin": "Saint Martin (French part)",
    "St Martin": "Saint Martin (French part)",
    "St. Maartin": "Sint Maarten (Dutch part)",
    "Reunion": "Réunion",
    "Reunion Island": "Réunion",
    "Bahrein": "Bahrain",
    "Cape Verde": "Cabo Verde",
    "Taiwan": "Taiwan, Province of China",
    "Maldive Islands": "Maldives",
}

df["Country_cleaned"] = df["Country_cleaned"].replace(replacements)

df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Country_cleaned
0,16th August 2025,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,Fishing,Shawn Meuse,M,?,Laceration to right leg below the knee,N,1055 hrs,Lemon shark 1.8 m (6ft),Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States
1,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia
2,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahamas
3,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,Surfing,Bowie Daley,M,9,None sustained board severely damaged,N,1630hrs,Suspected Great White,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia
4,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,Wading,Eleonora Boi,F,39,Bite to thigh area,N,Not stated,Undetermined,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico

In [18]:
pycountry_names = {c.name for c in pycountry.countries}
df = df[df['Country_cleaned'].isin(pycountry_names)]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country_cleaned'].value_counts())

Country_cleaned
United States                        2570
Australia                            1507
South Africa                          599
New Zealand                           146
Bahamas                               141
Papua New Guinea                      136
Brazil                                122
Mexico                                107
Italy                                  72
Fiji                                   70
New Caledonia                          66
Philippines                            65
Réunion                                65
Egypt                                  53
Mozambique                             50
Cuba                                   49
Spain                                  47
India                                  41
French Polynesia                       39
Japan                                  36
Croatia                                35
Jamaica                                32
Panama                                 32
Solomon Islands                        30
Iran, Islamic Republic of              29
Indonesia                              25
Hong Kong                              24
Greece                                 24
Tonga                                  18
Sri Lanka                              18
Costa Rica                             18
Bermuda                                16
Viet Nam                               15
Vanuatu                                15
Canada                                 14
France                                 13
Marshall Islands                       13
Thailand                               13
Türkiye                                12
Iraq                                   12
Venezuela, Bolivarian Republic of      11
Senegal                                11
United Kingdom                         11
Ecuador                                11
Samoa                                  11
Kenya                                  10
Mauritius                              10
Seychelles                             10
Sierra Leone                            9
Yemen                                   9
Israel                                  9
Maldives                                9
China                                   9
Taiwan, Province of China               9
Tanzania, United Republic of            8
Madagascar                              8
Chile                                   8
Korea, Republic of                      8
Belize                                  8
Dominican Republic                      7
Nicaragua                               7
Somalia                                 6
Kiribati                                6
Honduras                                6
Barbados                                6
Libya                                   6
Singapore                               6
Palau                                   5
Malta                                   5
Saudi Arabia                            5
Malaysia                                5
Myanmar                                 4
Uruguay                                 4
Grenada                                 4
El Salvador                             4
Sudan                                   4
Russian Federation                      4
Nigeria                                 4
Guam                                    4
Portugal                                4
Liberia                                 3
Montenegro                              3
Guinea                                  3
Lebanon                                 3
Haiti                                   3
Guyana                                  3
American Samoa                          3
Tunisia                                 3
Martinique                              3
Micronesia, Federated States of         3
Cabo Verde                              3
United Arab Emirates                    2
Colombia                                2
Iceland                                 2
Norway                                  2
Peru                                    2
Cayman Islands                          2
Puerto Rico                             2
Argentina                               2
Saint Martin (French part)              2
Ireland                                 2
Namibia                                 2
Ghana                                   1
Greenland                               1
Cyprus                                  1
Cook Islands                            1
Tuvalu                                  1
Syrian Arab Republic                    1
Georgia                                 1
Sweden                                  1
Djibouti                                1
Paraguay                                1
Algeria                                 1
Morocco                                 1
Kuwait                                  1
Palestine, State of                     1
Aruba                                   1
Monaco                                  1
Curaçao                                 1
Slovenia                                1
Northern Mariana Islands                1
Guatemala                               1
Sint Maarten (Dutch part)               1
Mayotte                                 1
Gabon                                   1
Angola                                  1
Jordan                                  1
Comoros                                 1
Bangladesh                              1
Bahrain                                 1
Name: count, dtype: int64

In [ ]:
#Columns Fatal + Deaths
#checking all unique values in Fatal, to understand how I can better clean it
print(df['Fatal Y/N'].unique())

In [ ]:
#cleaning Fatal and printing unique values
df['Fatal Y/N cleaned'] = df['Fatal Y/N'].astype(str).str.strip().str.upper().apply(lambda x: re.sub(r'[^A-Z]', '', x))
print(df['Fatal Y/N cleaned'].unique())

#add column "Death" and assign a numeric value to Fatal, yes or no
deaths_count = {'N': 0, 'Y': 1}
df['Death'] = df['Fatal Y/N cleaned'].map(deaths_count)
deaths_count = int(df['Death'].sum())
print(deaths_count)

In [ ]:
#checking all unique values in Fatal after clean-up
counts = df['Fatal Y/N cleaned'].value_counts(dropna=False)
print(counts)

#all data that is neither Y nor N, is replaced with NaN in the transition from numeric values
counts = df['Death'].value_counts(dropna=False)
print(counts)

In [ ]:
df.head()